.user-cart {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 100px;

  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  &__buy-button {
    cursor: pointer;
    position: fixed;
    right: 50px;
    bottom: 100px;
    padding: 20px;
    font-weight: bold;
    background-color: rgb(201, 255, 185);

  }

  &__buy-button:hover {
    background-color: rgb(136, 240, 52);
  }
}