.login-form {
  display: flex;
  flex-direction: column;

  &__validate-message {
    color: red;
  }

  &__row {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }

  &__button {
    padding: 5px;
  }
}